<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>

    <meta property="og:title" content="Rifas Templo do Tabuleiro" />
    <meta property="og:description" content="Aqui você encontra nossas rifas com um super precinho!" />
    <meta property="og:image" content="https://unicorn-cdn.b-cdn.net/6498a560-0bf6-4bb7-95ce-2b28858eac9e/logo-templotabuleiro-final-01.png" />
    <meta property="og:url" content="https://rifa.templodotabuleiro.com.br" />
    <meta property="og:type" content="website" />
</head>

<body>
  <div id="app">
<home/>

  </div>
</body>

</html>
